<nav class="navbar navbar-fixed-top navbar-default navbar-blog" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-pages">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>

  <div class="collapse navbar-collapse navbar-pages">
    <ul class="nav navbar-nav navbar-right hidden-print thin">
      <li>
        <a class="hidden-xs" href="http://github.com/caarlos0/up"
        title="Get this theme!">
        <i class="fa fa-download fa-lg"></i>
      </a>
      <a class="visible-xs" href="http://github.com/caarlos0/up"
      title="Get this theme!">
      <i class="fa fa-download fa-lg"></i> Get this theme!
    </a>
  </li>
  <li>
    <a class="hidden-xs" title="About me" href="{{ site.baseurl }}/about">
      <i class="fa fa-user fa-lg"></i>
    </a>
    <a class="visible-xs" title="About me" href="{{ site.baseurl }}/about">
      <i class="fa fa-user fa-lg"></i> About me
    </a>
  </li>
  <li>
    <a class="hidden-xs" href="{{ site.baseurl }}/atom.xml" title="Atom Feed">
      <i class="fa fa-rss fa-lg"></i>
    </a>
    <a class="visible-xs" href="{{ site.baseurl }}/atom.xml" title="Atom Feed">
      <i class="fa fa-rss fa-lg"></i> Atom Feed
    </a>
  </li>
</ul>
</div>
</nav>
