<div class="thumbnails">
	<div class="thumbnail">
		<img id="photo" src="/images/me.jpeg">
	</div>
</div>
<h4 class="thin"><font class="thin">Lucas</font> <b>Merencia<b></h4>

<div id="menu">
	<a href="index.html">Posts</a>
	<a href="about.html">About</a>
</div>

<section class="meta">
	<div class="row-fluid">
		<div class="span6">
			<a href="https://twitter.com/{{ site.author.twitter }}">
				<i class="icon icon-twitter icon-4x"></i>
				<div>Follow me on Twitter.</div>
			</a>
		</div>
		<div class="span6 next">
			<a href="https://github.com/{{ site.author.github }}">
				<i class="icon icon-github icon-4x"></i>
				<div>
					See my github profile.
				</div>
			</a>
		</div>
	</div>
</section>
